{% extends 'layout.html' %}

{% block body %}
<h1>Profile settings</h1>
<h4 class="mt-3 mb-3">User Avatar:</h4>
{% from "includes/_formhelpers.html" import render_field %}
<img src={{user["avatar"]}} alt="profile pic" style="width:128px;height:128x;">
  <div class="mt-3" id="deleteUser">
    <p class="btn btn-black" id="delBut">Delete Account</p>
  </div>
  <form action="" name="photo" enctype="multipart/form-data" method="POST">
    <div class="form-group mt-3">
      <div class="custom-file">
        <input type="file" name="image" multiple="false" id="image" class="custom-file-input">
        <label id="labeled" class="custom-file-label" for="image">Select Image...</label>
      </div>
    </div>
    <button class="btn btn-black" type="submit">Upload</button>
  </form>
<script>
  var uname = "{{session['username']}}";
  $('#deleteUser').on('click', () => {
    $.ajax({
      type: 'POST',
      url: `http://itucsdb1965.herokuapp.com/api/user/delete?username=${uname}`,
      success: () => {
        location.replace('http://itucsdb1965.herokuapp.com/login')
      }
    })
  })
  $('#image').on('change', (e) => {
      var label = document.getElementById('labeled');
      var fname = document.getElementById('image').files[0].name;
      label.innerHTML = fname;
  })
</script>
<br>
  <form name="gender"  method="post" style="flex: auto;" >
    <p>Your current gender {{gender}}</p>
    <select name="gender">
      <option name="options" value="male" name="options">Male</option>
      <option value="female" name="options">Female</option>
      <option value="other" name="options">Other</option>
      
    </select>
    <br>
    <input  type="submit" value="Uptade gender" class="btn btn-primary btn-black"/> 
    <input type="hidden" value="gender" name="formname" />
  </form>
{% endblock %}
