<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <script src="https://kit.fontawesome.com/fbae97afe3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css') }}">
  <title>Atarem - Online movie and TV series recommendations</title>
</head>

<body>
  <header class="showcase">
    <div class="showcase-top">
      <img src="/static/img/logo.png" alt="Atarem">
      <a href="/login" class="btn btn-rounded">Sign In</a>
    </div>
    <div class="showcase-content">
      <h1>See what's next</h1>
      <p>Find anywhere. Cancel anytime</p>
      <a href="/register" class="btn btn-xl">Start Free for 30 Days <i class="fas fa-chevron-right btn-icon"></i>
      </a>
    </div>
  </header>
</body>

</html>