{% extends 'layout.html' %}

{% block body %}
<h1 class="text-center">Top Rated Movies</h1>
<h3 class="text-center">Top 250 as rated by IMDb Users</h3>
<div class="row">
  {% for movie in movies %}
  <div class="card">
    <div class="imgBx">
      <a href="movie/{{movie['idimdb']}}">
        <img src={{movie['urlposter'].split('_V1_', 1)[0] + '_V1_.jpg'}} alt="Poster">
      </a>
    </div>
    <div class="details">
      <h2>{{movie['title']}}<br><span>{% for genre in movie['genres'] %} {{genre}}{% if loop.index != loop.length %},
          {% endif %} {% endfor %}</span></h2>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

<!-- <ul class="list-group"> -->
<!-- <li class="list-group-item"><a href="movie/{{movie.id}}">{{movie.name}}</a></li> -->
<!-- </ul> -->