{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
        <h1>{{movie['title']}}</h1>
        <h4>{{movie['year']}}, {% for director in movie['directors'] %} {{director}}{% if loop.index != loop.length %},
          {% endif %} {% endfor %}</h4>
      </div>
      <div class="movie_desc">
        <p class="text">
          {{movie['simpleplot']}}
        </p>
        <span class="minutes">{{movie['runtime']}}</span>
        <p class="type">{% for genre in movie['genres'] %} {{genre}}{% if loop.index != loop.length %},
          {% endif %} {% endfor %}</p>
      </div>
    </div>
    <div class="blur_back" style="background-image: url({{movie['urlposter']}});">
    </div>
  </div>
  <div style="display: flex;">
  <form name="Add" class="w-bg" action="" method="post" >
        <input type="hidden" value="Add" name="formname" />   
        <input type="submit" value="Add to my watchlist" class="btn btn-primary btn-black" /> 
  </form>
  <br>
  <form name="delete" class="w-bg" action="" method="post" >
      <input type="hidden" value="delete" name="formname" />   
      <input type="submit" value="Delete" class="btn btn-primary btn-black" /> 
</form>

</form>
<form name="likes"  action="" method="post">
  <button class="w-bg">
    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    <input type="hidden" value="like" name="formname" /> 
    
  </button>

</form>
<p class="w-bg"> Currrent likes {{movie['point']}} </p>

</div>


</div>
{% endblock %}
